<h1><%= link_to 'Paradise Restaurant', root_path %></link_to></h1>
<h2>Contact Us</h2>
<div class="row">
  <div class="col-sm-4">
    <address>
      Paradise Food Court,
      Mahatma Gandhi Rd,
      Sappu Bagh Apaprtment,
      Jogani, Kalasiguda.
      Secunderabad,
      Telangana 500003.
      India.
    </address>
  </div>
  <div class="col-sm-8">
    <iframe
    src="https://www.google.com/maps/embed?pb=!1m18! 1m12! 1m3! 1d3806 .3801814651274!2d78 .48504211431916!3d17 .441508388046188!2m3! 1f0! 2f0! 3f0! 3m2! 1i1024! 2i768! 4f13 .1!3m3! 1m2! 1s0x3bcb9a1024b9847d%3A0x995ca0b9f2d52185! 2sParadise+Food+Court%2C+Mahatma+Gandhi+Rd%2C+Sappu+Bagh+Apaprtment%2C+Jogani%2C+Kalasiguda%2C+Secunderabad%2C+Telangana+500003%2C+India!5e0!3m2! 1sen! 2s! 4v1467989675617 "
    width="600"
    height="450"
    frameborder="0"
    style="border:0"
    allowfullscreen>
    </iframe>
  </div>
</div>