<div class="jumbotron">
  <h1 class="display-3">Welcome to Paradise Restaurant</h1>

  <p class="lead">Good Food. Great service.Happy Times</p>
  <hr class="m-y-2">
  <p>Authentic. Fresh. Satisfyind. Heavenly!</p>

  <p class="lead">
    <%= link_to 'Menu', '/menu', :class => "btn btn-secondary btn-lg" %>
    <%= link_to 'Contact US', contact_us_path, :class => "btn btn-secondary btn-lg" %>
  </p>
</div>
